<%- layout('/layouts/boilerplate.ejs') %>

<form
  class="col-md-6 offset-md-3 col-sm-8 offset-sm-2"
  action="/products/:id?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Product title"
    />
    <label for="title">Product title</label>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input
      type="text"
      class="form-control"
      id="price"
      name="price"
      placeholder="0.00"
    />
  </div>

  <div class="input-group mb-3">
    <label for="file">Add image</label>
    <input class="form-control" type="file" name="image" id="file" />
  </div>

  <div>
    <button class="btn btn-secondary" type="submit">Add Product</button>
  </div>
</form>
